<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waitsober.mapper.ImageUploadMapper">
	<select id="getAllImagePath"  resultType="com.waitsober.pojo.Image">
        select * from sober_backend_gallery where is_deleted =0 ;
    </select>
    <select id="insertImagePath" >
        insert into sober_backend_gallery values(null,#{name},#{url},0,#{title},#{description});
    </select>
    <update id="deleteImageById" parameterType="int">
        UPDATE sober_backend_gallery set is_deleted = 1 where id = #{id};
    </update>
    <select id="selectImageById" parameterType="int" resultType="com.waitsober.pojo.Image">
        select * from sober_backend_gallery where id = #{id} ;
    </select>
    <update id="updateImageById" parameterType="com.waitsober.pojo.Image" >
        update sober_backend_gallery set title =#{title} ,description =#{description}, name=#{name},url=#{url} where id=#{id};
    </update>
</mapper>